
# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Dataset (DO NOT UPLOAD)
# =========================
data/
*.csv

# =========================
# Trained Models
# =========================
models/
*.pkl
*.joblib

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook Checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Logs / Reports (optional)
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files (optional)
# =========================
.vscode/
.idea/